<h1 class="font-extralight mb-5 text-4xl">Edit Subscription</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.subscription_path(@conn, :update, @subscription)) %>

<span class="text-blue-700"><%= link "Back", to: Routes.subscription_path(@conn, :index) %></span>
